<%- include('../partials/head', { pageTitle, user, menuItems }) %>
  <h3><%= category.name %></h3>
  <p>Brand: <a href="/brands/<%= category.brand.id %>"><%= category.brand.name %></a></p>
  <h4>Products</h4>
  <% if (category.products.length > 0) { %>
    <ul>
      <% category.products.forEach(function(product) { %>
        <li><a href="/products/<%= product.id %>"><%= product.name %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>This category does not have products yet.</p>
  <% } %>
<%- include('../partials/footer') %>