<%- include('../partials/head', { pageTitle, user, menuItems }) %>
  <h3>Categories</h3>
  <p><a href="/categories/add">Add category</a></p>
  <table>
    <thead>
      <tr><th>ID</th><th>Name</th><th>Brand</th><th>Products</th><th>Action</th></tr>
    </thead>
    <tbody>
      <% categories.forEach(function(category) { %>
        <tr>
          <td><%= category.id %></td>
          <td><a href="/categories/<%= category.id %>"><%= category.name %></a></td>
          <td><%= category.brand?.name %></td>
          <td><%= category.products.length %></td>
          <td>
            <a href="/categories/<%= category.id %>/edit">Edit</a>
            <form class="inline" action="/categories/<%= category.id %>/delete" method="post">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<%- include('../partials/footer') %>