<%- include('../partials/head', { pageTitle, user, menuItems }) %>
  <h3><%= product.name %></h3>
  <p><%= product.description %></p>
  <ul>
    <li>Price: <%= product.price %></li>
    <li>Stock: <%= product.stock %></li>
    <li>Brand: <%= product.category?.brand?.name %></li>
    <li>Category: <%= product.category?.name %></li>
  </ul>
  <a href="/products/<%= product.id %>/edit">Edit</a>
<%- include('../partials/footer') %>