<%- include('../partials/head', { pageTitle, user, menuItems }) %>
  <h3><%= brand.name %></h3>
  <p>Total categories: <%= brand.categories.length %></p>
  <% if (brand.categories.length > 0) { %>
    <ul>
      <% brand.categories.forEach(function(category) { %>
        <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>This brand does not have categories yet.</p>
  <% } %>
<%- include('../partials/footer') %>